body {
    background-color: black;
    color: white;
    text-align: center;
}
input::placeholder {
    font-weight: bold;
}
input {
    background-color: darkgray
}
select {
    background-color: darkgray;
    transition: 300;
}
#przycisk {
    border-radius: 12px;
    border: 3px solid black;
    background-color: gray;
    padding: 28px 80px;
}
footer{
    text-align: center;
    width: 100%;
}
a {
    color: white;
}
fieldset {
    width: 30%;
    height: 500px;
    display: inline-block;
}